body {
    background-color: silver;
}

.contain-everything {
    position: absolute;
    width: 100%;
}

.container {
    position: relative;
    margin: auto;
    width: 50%;
    align-items: center;
    border: 3px solid grey;
}

.screen {
    margin: auto;
    margin-top: 20px;
    position: relative;
    background-color: snow;
    width: 50%;
    
}

#display {
    resize: none;
    border: none;
    width: 100%;
    overflow: auto;
    height: 50px;
    white-space: initial;
}

.numbers {
    margin: auto;
    padding: 10px;
    width: fit-content;
    text-overflow: ellipsis;
    
}

.fours.buttons {
    float: left;
}

.buttons {
    border: 1px solid rgb(20, 20, 20);
    width: fit-content;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 100%;
}

.buttons:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.buttons:active {
    color: #000
}

.buttons:active:after {
    background: transparent;
}

.buttons:hover:before {
    opacity: 1;
}

.buttons:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}